@media (min-width: 361px) and (max-width: 767px)
{
    .benefit{
        padding-top: 150px !important;
    }
    #kori{
        width: auto !important;
    }
    .starsandprice{
        width: 345px !important;
    }
    .almost{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
}